# Git directory
/.git

# VS code config directory
/.vscode

# Build directory
**/build
**/dist

# Logs directory
**/logs

# NodeJS modules directory
**/node_modules

# Misc files
.dockerignore
.gitignore
/docker-compose*.yml
/Dockerfile*
/README.md
**/tslint.json
