# Environment file

# Environment name
DIABETIPS_ENV=prod

# These variables are referenced in the config and are deserialized with JSON.parse -> strings must be quoted
# Session secret key
DIABETIPS_SESSION_SECRET="<...>"
