# Environment file

# Environment name
DIABETIPS_ENV=prod

# These variables are referenced in the config and are deserialized with JSON.parse -> strings must be quoted
# Session secret key
DIABETIPS_SESSION_SECRET="<...>"

# API URL
DIABETIPS_API_URL="https://api.diabetips.fr"

# Client ID
DIABETIPS_CLIENT_ID=""

# Client Secret
DIABETIPS_CLIENT_SECRET=""
