# Environment file

# Environment name
DIABETIPS_ENV=prod

# Diabetips API URL
DIABETIPS_API_URL="https://api.diabetips.fr"

# Client ID
DIABETIPS_CLIENT_ID="..."

# Client secret
DIABETIPS_CLIENT_SECRET="..."
