doctype html
html
    head
        title Connexion
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/materialize.min.css")
        link(rel="stylesheet" href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.grey.lighten-3
        main.container
            .row.login
                img.logo(src="/img/logo-blue.png" alt="Diabetips")
                form.col.l6.offset-l3.m8.offset-m2.s12.card.white(method="post")
                    .card-content
                        .row
                            span.col.s12.card-title Connexion | <a href="/register">Inscription</a>
                            .col.s12.input-field
                                input.validate#email(type="text" name="email" required)
                                label(for="email") Adresse email
                            .col.s12.input-field
                                input.validate#password(type="password" name="password" required)
                                label(for="password") Mot de passe
                                a(href="/reset-password")
                                    i Mot de passe oublié ?
                            .col.s12.valign-wrapper
                                .input-field
                                    button.btn.waves-effect.blue(type="submit") Connexion
                                if error
                                    .col.red-text
                                        i.material-icons error_outline
                                        | #{error}
        script(src="/js/materialize.min.js")
