doctype html
html
    head
        title Profil
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/materialize.min.css")
        link(rel="stylesheet" href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.grey.lighten-3
        nav.blue
            .nav-wrapper
                a.brand-logo(href="/" alt="Accueil")
                    img(src="/img/logo-white.png" alt="Logo Diabetips")
                ul#nav-mobile.right
                    li
                        a(href="/logout") Déconnexion
        main.container
            .row
                form.col.l6.offset-l3.m8.offset-m2.s12.card.white(method="post")
                    .card-content
                        .row
                            span.col.s12.card-title Mon profil
                            .col.s6.input-field
                                input#first_name(type="text" name="first_name" value=user.first_name)
                                label(for="first_name") Prénom
                            .col.s6.input-field
                                input#last_name(type="text" name="last_name" value=user.last_name)
                                label(for="last_name") Nom
                            .col.s12.input-field
                                input#email(type="text" name="email" value=user.email)
                                label(for="email") Adresse email
                            .col.s12.input-field
                                input#password(type="password" name="password")
                                label(for="password") Mot de passe
                            .col.s12.valign-wrapper
                                .input-field
                                    button.btn.waves-effect.blue(type="submit") Enregistrer
                                if submitted
                                    .col.green-text
                                        i.material-icons check_circle_outline
                                        | Modifications enregistrées !
                                if error
                                    .col.red-text
                                        i.material-icons error_outline
                                        | #{error}
        script(src="/js/materialize.min.js")
