doctype html
html
    head
        title Réinitialisation de mot de passe
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/materialize.min.css")
        link(rel="stylesheet" href="/css/style.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body.grey.lighten-3
        main.container
            .row.reset-password
                img.logo(src="/img/logo-blue.png" alt="Diabetips")
                form.col.l6.offset-l3.m8.offset-m2.s12.card.white(method="post")
                    .card-content
                        .row
                            span.card-title Réinitialisation de mot de passe
                            unless submitted
                                p
                                    | Vous avez oublié votre mot de passe ? Entrez l'adresse email associée à votre compte
                                    | et nous vous enverrons un nouveau mot de passe temporaire.
                                .input-field
                                    input.validate#email(type="text" name="email" required)
                                    label(for="email") Adresse email
                                .valign-wrapper
                                    .input-field
                                        button.btn.waves-effect.blue(type="submit") Envoyer
                                    if error
                                        .col.red-text
                                            i.material-icons error_outline
                                            | #{error}
                            else
                                .row
                                    .col
                                        p
                                            | Votre demande a bien été enregistrée. Un email contenant un nouveau mot de passe
                                            | temporaire va être envoyé à l'adresse indiquée.
                                .row
                                    .col
                                        a.btn.waves-effect.blue(href="/login") Retourner à la page de connexion
        script(src="/js/materialize.min.js")
