<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card class="mat-elevation-z2">
    <mat-card-title>Mon profil</mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <p class="card-info">
            Personnalisez les informations de votre profil.<br>
            Ces informations sont accessibles par les autres utilisateurs Diabetips avec lesquels vous êtes connecté.
          </p>
        </div>
      </div>
      <span class="picture-label">Photo de profil</span>
      <div class="row picture-container">
        <div class="col picture-edit">
          <button mat-button tabIndex="-1" type="button" (click)="onPictureEditClick()">
            <mat-icon>edit</mat-icon>
            Modifier
          </button>
          <button mat-button tabIndex="-1" type="button" (click)="onPictureClearClick()">
            <mat-icon>clear</mat-icon>
            Supprimer
          </button>
          <input type="file" id="pictureFile" name="pictureFile" accept="image/png,image/jpeg,image/tiff,image/webp" style="display:none;"/>
        </div>
        <div class="col picture-preview">
          <img class="picture" [src]="pictureUrl"/>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="standard">
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstName">
            <mat-error *ngIf="form.controls['firstName'].hasError('required')">Prénom obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="standard">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastName">
            <mat-error *ngIf="form.controls['lastName'].hasError('required')">Nom obligatoire</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="locked" type="submit">Enregistrer</button>
      <mat-spinner mode="indeterminate" diameter="32" color="primary" *ngIf="locked"></mat-spinner>
    </mat-card-actions>
  </mat-card>
</form>
