/*
** Copyright 2019 Diabetips
**
** All rights reserved
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.material-icons {
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
}

.brand-logo {
    margin-left: 24px;
}

.brand-logo > img {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 64px;
}

.card .card-content .card-title {
    padding-bottom: 24px;
}

.card-content .row:last-child {
    margin-bottom: 0;
}

.login .logo, .register .logo, .reset-password .logo {
    display: block;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 96px;
}

@media only screen and (min-width: 601px) {
    .login .logo, .register .logo, .reset-password .logo {
        padding-top: 128px !important;
        padding-bottom: 48px !important;
        height: 240px !important;
    }
}

body > .container {
    margin-top: 24px;
}

body > .container.card {
    padding: 48px 24px;
}

@media only screen and (min-width: 601px) {
    .right-align-on-med-and-up {
        text-align: right;
    }
}
