<mat-card class="mat-elevation-z2">
  <mat-card-title>Mes applications</mat-card-title>
  <mat-card-content>
    <div class="row" *ngFor="let app of apps">
      <div class="app-logo-container">
        <img class="app-logo" [src]="appLogo(app) | async" />
      </div>
      <div class="col">
        <span>
          <strong>{{app.name}}</strong><br>
          {{app.description}}<br>
          Connectée le : {{app.date | date}}<br>
          Autorisations : {{app.scopes.join(', ')}}
        </span>
      </div>
      <button mat-icon-button matTooltip="Révoquer l'accès" class="app-delete" [disabled]="locked" (click)="appRevoke(app)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
